<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>

    <template id="my-app">
      <!-- v-model绑定checkbox -->
        <label for="agree">
          <input id="agree" type="checkbox" v-model="isAgree">同意
        </label>
        <h2>v-model绑定checkbox-{{isAgree}}</h2>

        <hr>
        <!-- v-model绑定多选框 -->
        <label for="football">
          <input id="football" type="checkbox" value="football" v-model="hobbies">足球
        </label>
        <label for="basketball">
          <input id="basketball" type="checkbox" value="basketball"v-model="hobbies">篮球
        </label>
        <label for="tennis">
          <input id="tennis" type="checkbox" value="tennis"v-model="hobbies">网球
        </label>
        <h2>{{hobbies}}</h2>

        <hr>
        <!-- radio -->
        <label for="male">
          <input id="male" type="radio" v-model="gender" value="male">
        </label>
        <label for="female">
          <input id="female" type="radio" v-model="gender" value="female">
        </label>
        <h2>{{gender}}</h2>

        <hr>
        <select name="" id="" v-model="fruit">
          <option value="apple">苹果</option>
          <option value="orange">橘子</option>
          <option value="banana">香蕉</option>
        </select>
        <h2>{{fruit}}</h2>
    </template>
    <script src="../Learn/js/vue.js"></script>
    <script>

    const App ={
        template:"#my-app",
        data:function(){
            return {
                message:"hello,word",
                isAgree:false,
                hobbies:[],
                gender:"",
                fruit:""
            }
        },
        methods:{}
    };

    Vue.createApp(App).mount("#app");
</script>
</body>
</html>
